**Problem Statement:**
- A Cab booking company wanted to analyze the dataset they have in order to gain more insights. 
- They the number of cabs booked each hour along with some environment features. 
- Here is the following list of data elements present in the data:
    - Datetime: Date and time
    - Season: Season value, e.g., summer, winter, etc.
    - Holiday: Whether it is a holiday or not,
    - Workingday: Whether it is a working day or not
    - Weather: What is the weather that day, e.g., Clear, cloudy, rain, etc. 
    - Temp: What is the temperature value
    - Atemp: Feel like temperature
    - Humidity: Humidity value 
    - Windspeed: wind speed value
    - Total_booking: Number of cab bookings in that hour


**Question 1:**
 - Feature Engineering: Create following features from the column “Datetime” and append it in the same dataframe

1) Hour: Hour in the datetime, e.g., datetime = 5/2/2012 19:00, hour = 19

2) weekday: e.g., datetime = 5/2/2012 19:00, weekday = Wednesday

3) Month: e.g., datetime = 5/2/2012 19:00, Month = May

4) date: e.g., datetime = 5/2/2012 19:00, date = 5/2/2012



**Question 2:**
- Find the average number of bookings in each month across years and sort the data in descending order.

**Question 3:**
- It has the following three tasks

1) Convert all categorical variables into one-hot encoded features

2) Concat one hot encoded features into original dataframe

3) Remove the original columns from the dataframe.

<br>

**Hint: Categorical Variables are = weekday, month, season, weather**

In [1]:
# Interactive Jupyter Imports
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# Ignore the Warnings Imports
import warnings
from warnings import filterwarnings
warnings.filterwarnings('ignore')

In [3]:
import numpy as np
import pandas as pd
import datetime as dt
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [4]:
df = pd.read_csv('train.csv')
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,Total_booking
0,5/2/2012 19:00,Summer,0,1,Clear + Few clouds,22.14,25.760,77,16.9979,504
1,9/5/2012 4:00,Fall,0,1,Clear + Few clouds,28.70,33.335,79,19.0012,5
2,1/13/2011 9:00,Spring,0,1,Clear + Few clouds,5.74,6.060,50,22.0028,139
3,11/18/2011 16:00,Winter,0,1,Clear + Few clouds,13.94,16.665,29,8.9981,209
4,9/13/2011 13:00,Fall,0,1,Clear + Few clouds,30.34,33.335,51,19.0012,184

In [5]:
df.shape

(8708, 10)

In [6]:
type(df.datetime)

pandas.core.series.Series

In [7]:
# DataFrame columns are Series, by definition. If you make the dtype datetime-like, 
# then you can access the quantities via the .dt accessor (docs)

df['datetime'] = pd.to_datetime(df['datetime'])

In [8]:
df['hour'] = df.datetime.dt.hour
df['month'] = df.datetime.dt.month
df['weekday'] = df.datetime.dt.weekday
df['date'] = df.datetime.dt.date

In [9]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,Total_booking,hour,month,weekday,date
0,2012-05-02 19:00:00,Summer,0,1,Clear + Few clouds,22.14,25.760,77,16.9979,504,19,5,2,2012-05-02
1,2012-09-05 04:00:00,Fall,0,1,Clear + Few clouds,28.70,33.335,79,19.0012,5,4,9,2,2012-09-05
2,2011-01-13 09:00:00,Spring,0,1,Clear + Few clouds,5.74,6.060,50,22.0028,139,9,1,3,2011-01-13
3,2011-11-18 16:00:00,Winter,0,1,Clear + Few clouds,13.94,16.665,29,8.9981,209,16,11,4,2011-11-18
4,2011-09-13 13:00:00,Fall,0,1,Clear + Few clouds,30.34,33.335,51,19.0012,184,13,9,1,2011-09-13

In [10]:
df.tail()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,Total_booking,hour,month,weekday,date
8703,2012-01-16 06:00:00,Spring,1,0,Clear + Few clouds,4.10,6.820,54,6.0032,13,6,1,0,2012-01-16
8704,2011-11-10 01:00:00,Winter,0,1,Mist + Cloudy,16.40,20.455,87,0.0000,11,1,11,3,2011-11-10
8705,2011-04-12 03:00:00,Summer,0,1,Mist + Cloudy,23.78,27.275,56,8.9981,1,3,4,1,2011-04-12
8706,2012-11-07 01:00:00,Winter,0,1,Mist + Cloudy,11.48,13.635,61,16.9979,92,1,11,2,2012-11-07
8707,2011-01-10 10:00:00,Spring,0,1,Mist + Cloudy,5.74,6.060,50,19.9995,31,10,1,0,2011-01-10

In [ ]:
ohe = OneHotEncoder(sparse=False)

df = pd.get_dummies(ohe['weekday','month','season','weather'])

fullData = pd.concat([onehot,df],axis=1)

fullData.drop('body-style', inplace=True, axis =1)